*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../asset/img/login_bg.jpg);
    background-size: cover;
}

.login-page{
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: rgba(128, 252, 140, 0.14);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-page__form{
    margin-bottom: 20px;
}

.login-page__form__logo{
    text-align: center;
    margin-bottom: 20px;
    max-width: 100px;
    margin: auto;
    display: block;
}

.login-page__form__title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    margin: 20px 0;
}

.login-page__form form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.login-page__form form button{
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.login-page__form form button a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-page__form form button:hover{
    background: #0056b3;
}

.login-page__form a{
    margin-top: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #007bff;
}